@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap') ;

body {
  background: #fafafa;
  font-family: Roboto , sans-serif;
  min-height: 100vh;
}

main {
  height: 100vh;
  max-height: 100vh;
}

.h100 {
  height: 100vh;
}

.bg-login {
  background: url('./images/bg.jpg') no-repeat center center #ffc36b;
  background-size: cover;
}

.button-theme-bg {
  background-color: #f28300;
  font-size: 1.1em;
  font-weight: 500;
}

.wrapper {
  border: 1px solid #ddd;
  display: flex;
  max-height: 120px;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
  width: 2;
}

.wrapper .item {
  background: #ddd;
  height: 110px;
  line-height: 110px;
  margin-right: 5px;
  min-width: 200px;
  text-align: center;
}
